img {
    max-width: 100%;
    height: auto;
}

body {
    font-family: Arial, Verdana, Helvetica, sans-serif;
    font-size: x-large;
    background-color: #00ffff;
}

#homefont {
    font-size: xx-large;
}

/* Re-active alignment when i figure oout how to center the lists and images properly

body {
    text-align: center;
}

*/

