* {
    font-family: Arial, Verdana, Helvetica, sans-serif;
    background-color: #FF0065;
    box-sizing: border-box;
}
  
img {
    max-width: 100%;
    height: auto;
}

body{
    font-size: x-large;
    border: 5px solid black;
    margin: 10px;
    text-align: center;
    padding: 10px;
}

#homebody {
    font-size: xx-large;
}

.list-container {
    border: 5px solid black;
    width: 600px;
    max-width: 80%;
    display: block;
    margin: 50px auto;
    text-align: left;
    background-color: #b36ea1;
    padding: 20px
}

.back {
    display: block;
    margin: 40px;
    font-size: 30px;
}

h3 {
    margin-bottom: -45px;
    font-size: 32px;
}

.list-container * {
    word-wrap: break-word;
    background-color: #b36ea1;
    margin: auto
}

p {
    margin-bottom: 80px
}