.imgcontainer {
    width:800px;
    height: 450px;
}



.imgresize {
    width: auto;
    height: auto;
    max-width: 100%;
}

body {
    font-size: x-large
}

#homefont {
    font-size: xx-large;
}









/* Re-active alignment when i figure oout how to center the lists properly

body {
    text-align: center;
}

*/

