* {
    font-family: Arial, Verdana, Helvetica, sans-serif;
    background-color: #FF0065; 
}

html {
    box-sizing: border-box;
  }
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }
  
img {
    max-width: 100%;
    height: auto;
}

body{
       font-size: x-large;
       border: 4px solid black;
       margin: 10px
}

.img-container {
    margin: 10px;
}

#homebody {
    font-size: xx-large;
}

body, .list-container {
    text-align: center;
}

.center-list {
    display: inline-block;
    text-align:left;
}
