* {
    font-family: Arial, Verdana, Helvetica, sans-serif;
    box-sizing: border-box;
}

html, body {
    background-color: #141414;
    margin: 0;
}
  
img {
    max-width: 100%;
    height: auto;
    border-radius: 15px;
}

.wrapper {
    font-size: x-large;
    border: 5px solid black;
    margin: 10px;
    text-align: center;
    padding: 10px;
    border-radius: 15px;
    background-color: #00ccff;
}

#homebody {
    font-size: xx-large;
}

.list-container {
    border: 5px solid #141414;
    width: 600px;
    max-width: 100%;
    display: block;
    margin: 50px auto;
    text-align: left;
    background-color: #c2c2c2;
    padding: 20px;
    border-radius: 15px;
}

.list-container * {
    background-color: #c2c2c2;
    margin:auto
}

.back {
    display: block;
    margin: 40px;
    font-size: 30px;
}

h3 {
    margin-bottom: -45px;
    font-size: 32px;
}

p {
    margin-bottom: 80px
}